---
layout: default
---


<div class="main">
  <!-- <div class="message">
    this site is still under constraction. Yes, <strong>under construction</strong> even after deployment xD 
  </div> -->
  <header>
    <h1 class="title">abdus samad azad <small class="gray-text small-text">@thisisAbdus</small></h1>
    <section>
      <div class="intro">
        {{ site.description }}
      </div>
      <div class="social">
        Social: 
        <a href="https://twitter.com/thisisabdus">Twitter</a>
        <a href="https://medium.com/@thisisabdus">Medium</a>
        <a href="https://github.com/thisisabdus">GitHub</a>
        <a href="https://linkedin.com/in/thisisabdus">LinkedIn</a>
      </div>
    </section>
  </header>

  <section>
    <h3 class="section-header">Blog Posts</h3>
    <div class="blog-posts">
      {% for post in site.posts %}
        <div class="post">
          <div class="blog-title">
            {% if post.link_post %}
              <a href="{{ post.link_post }}">{{ post.title }}</a>
              <span>Medium&neArr; &middot; {{ post.date | date: "%b %d, %y" }}</span>
            {% else %}
              <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
              <span>{{ post.date | date: "%b %d, %y" }}</span>
            {% endif %}
          </div>
          <div class="bottom-border-full"></div>
        </div>
      {% endfor %}
    </div>
    <!-- Pagination links -->
    <!-- <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}#blog-posts" class="previous">
          Previous
        </a>
      {% else %}
        <span class="previous">Previous</span>
      {% endif %}
      
      <span class="page_number ">
        {{ paginator.page }} of {{ paginator.total_pages }}
      </span>

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}#blog-posts" class="next">Next</a>
      {% else %}
        <span class="next ">Next</span>
      {% endif %} -->
  </section>
</div>