---
  layout: default
---

<div id="hero">
  <div id="particles-js"></div>
  <h1 class="salutation">Hi there!</h1>
  <div class="about-author">
    {{ site.description }} <a href="{{ '/about/' | relative_url }}">Read More</a>
  </div>
  <div class="social">

    <span class="fa-stack fa-2x">
      <i class="fa fa-circle fa-stack-2x icon-background"></i>
      <a href="https://twitter.com/thisisAbdus"><i class="fab fa-twitter fa-stack-1x"></i></a>
    </span>

    <span class="fa-stack fa-2x">
      <i class="fa fa-circle fa-stack-2x icon-background"></i>
      <a href="https://github.com/thisisAbdus"><i class="fab fa-github fa-stack-1x"></i></a>
    </span>

    <span class="fa-stack fa-2x">
      <i class="fa fa-circle fa-stack-2x icon-background"></i>
      <a href="https://stackoverflow.com/story/thisisAbdus"><i class="fab fa-stack-overflow fa-stack-1x"></i></a>
    </span>

    <!-- <span class="fa-stack fa-2x">
      <i class="fa fa-circle fa-stack-2x icon-background"></i>
      <a href="#" title="Tag: Abdus#1541"><i class="fab fa-discord fa-stack-1x"></i></a>
    </span> -->
    
  </div>
</div>


<div id="blog-posts" class="margin-top-6rem">
  <div class="section-title">
    <h1>Blog</h1>
    <!-- <div class="bottom-border"></div> -->
  </div>
  <!-- This loops through the paginated posts -->
  {% for post in paginator.posts %}
    <div class="post">
      <h3 class="blog-title">
        {% if post.link_post %}
          <a href="{{ post.link_post }}">{{ post.title }}</a>
        {% else %}
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        {% endif %}
        <small>{{ post.date | date: "%b %d, %y" }}</small>
      </h3>
      <div class="bottom-border-full"></div>
    </div>
  {% endfor %}

  <!-- Pagination links -->
  <div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}#blog-posts" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}#blog-posts" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
  </div>
</div>


<!-- <div id="projects" class="margin-top-6rem">
  <div class="section-title">
    <h1>Project</h1>
  </div>
</div> -->


<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script>
  particlesJS.load("particles-js", "{{ '/assets/js/particlesjs-config.json' | relative_url }}", (err) => console.log(err));
</script>