---
layout: category
title: Front-End
permalink: /categories/front-end/
---

<div id="category-posts">
    {% for post in site.categories['front-end'] %}
        <div class="post">
            <h3 class="blog-title">
                {% if post.link_post %}
                    <a href="{{ post.link_post }}">{{ post.title }}</a>
                {% else %}
                    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
                {% endif %}
                <small>{{ post.date | date: "%b %d, %y" }}</small>
            </h3>
            <div class="bottom-border-full"></div>
        </div>
    {% endfor %}
</div>