<div id="comment-form">
    <h3>Comment</h3>
    <form action="#" method="POST">
        <textarea name="commentText" placeholder="Write Comment" required></textarea><br>
        <input type="text" class="username" name="userFullName" placeholder="Your Name" required><br>
        <input type="email" class="useremail" name="userEmail" placeholder="Your Email" required><br>
        <input type="text" class="userwebsite" name="userWebsite" placeholder="Website (Optional)"><br>
        <input type="submit" value="Comment">
    </form>
</div>