<nav>
    <h1 class="nav-handle" id="nav-open"><i class="fas fa-ellipsis-h"></i></h1>
</nav>
<div class="hidden-nav" id="hidden-nav">
    <h1 class="nav-close" id="nav-close"><i class="far fa-times-circle"></i></h1>
    <div class="nav-content">
        
        <!-- Navigation Links -->
        <div class="header">Site Navigation</div>
        <div class="bottom-border"></div>

        <a class="nav-btn" href="{{ '/' | relative_url }}">Home</a>
        <a class="nav-btn" href="{{ '/about/' | relative_url }}">About</a>
        <a class="nav-btn" href="{{ '/contact/' | relative_url }}">Contact</a>
        <a class="nav-btn" href="{{ '/' | relative_url }}">JavaScript</a>
        <a class="nav-btn" href="{{ '/about/' | relative_url }}">Linux</a>
        <a class="nav-btn" href="{{ '/contact/' | relative_url }}">NodeJS</a>
        <a class="nav-btn" href="{{ '/' | relative_url }}">Projects</a>
        <a class="nav-btn" href="{{ '/about/' | relative_url }}">Server-Side</a>
        <a class="nav-btn" href="{{ '/contact/' | relative_url }}">Some Other</a>


        <!-- Sub Domains Links -->
        <div class="header">Sub Domains</div>
        <div class="bottom-border"></div>

        <a class="nav-btn" href="https://showcase.abdusdev.me">showcase</a>
        <a class="nav-btn" href="https://blog.abdusdev.me">blog</a>

        <!-- Sub Domains Links -->
        <div class="header">External Links</div>
        <div class="bottom-border"></div>

        <a class="nav-btn" href="https://github.com/thisisabdus">GitHub</a>
        <a class="nav-btn" href="https://gitlab.com/thisisabdus">GitLab</a>


        <!-- Recent Posts Links -->
        <div class="header">Recent Posts</div>
        <div class="bottom-border"></div>

        {% for post in site.posts limit:4 %}
            <div class="post">
                <div class="author">
                    <div class="date">{{ post.date | date: "%b %d, %y" }}</div>
                </div>
                <h4 class="blog-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h4>
                <p class="excerpt" style="color: gray">
                    {{ post.excerpt | strip_html | truncate: 140, '...' }}
                </p>
            </div>
        {% endfor %}

    </div>
</div>

<!-- This div will put an screen bottom of the 'open' nav so that user won't be able to click body links -->
<div id="nav-bottom-screen"></div>