<!-- https://github.com/poole/hyde/blob/master/_includes/sidebar.html -->

{% comment %}
    The code below dynamically generates a sidebar nav of pages with
    `layout: page` in the front-matter. See readme for usage.
{% endcomment %}

{% assign pages_list = site.pages %}
{% for node in pages_list %}
    {% if node.title != null %}
        {% if node.layout == "page" %}
            <a class="nav-btn {% if page.url == node.url %} active{% endif %}" href="{{ node.url | relative_url }}">{{ node.title }}</a>
        {% endif %}
    {% endif %}
{% endfor %}