// Colors
$primary-color: #1d2951;
$text-color: #c71585;
$primary-color-opacity-half: #19244783;
$primary-color-opacity-3: #192447d0;
$text-color-opacity-half: #c7158583;
$link-color: #0000ee;

// Transitions 
$transition-backward: cubic-bezier(.68,-0.55,.27,1.55);

// Other
$margin-bottom: 2rem;




body {
    font-family: 'Karla', sans-serif;
    margin: 0;
    font-size: 1.2rem;
    border-top: 5px solid #800080;
}
h1, h2, h3,
h4, h5, h6 {
    margin: 5px 0;
    font-family: 'Oswald', sans-serif;
    transition: .4s $transition-backward all;
}

a {
    color: $link-color;
    text-decoration: none;
}