.fa-stack { font-size: 1.3rem; }
i { vertical-align: middle; }


.bottom-border {
    width: 85px;
    height: 5px;
    border-radius: 10px;
    margin-top: 14px;
    color: $primary-color;
    background: #ff0055;
}

.text-color-opacity-5 {
    color: $text-color-opacity-half;
}

.margin-top-6rem {
    margin-top: 6rem;
}

.message {
    padding: .4rem;
    background: #ffefc5;
    border-radius: 6px;
}

// BUTTONS
.nav-btn {
    color: inherit;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: .4rem .8rem;
    display: inline-block;
    margin: .2rem;
    transition: .4s $transition-backward all;

    &:hover {
        background: darken($color: $primary-color, $amount: 10%)
    }
}

