.fa-stack { font-size: 1.3rem; }
i { vertical-align: middle; }


.bottom-border {
    width: 85px;
    height: 5px;
    border-radius: 10px;
    margin-top: 14px;
    color: $primary-color;
    background: #ff0055;
}

.text-color-opacity-5 {
    color: $text-color-opacity-55;
}

.margin-top-6rem {
    margin-top: 6rem;
}