/*
    This Contains:
        1. Nav Bar
        2. Hero Section [#hero]
        3. blog-posts [#blog-posts]
*/
nav {
    position: fixed;
    top: 0;
    right: 0;
    padding: .3rem .7rem;
    align-items: center;

    & .nav-handle {
        text-align: center;
        cursor: pointer;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: #fff;
        background: #ff0055;
        
        &:hover {
            box-shadow: 0 0 5px 0 #363636;
        }
    }
}

/*
    Section 2 contains: 
        1. .author-name
        2. .author-image
        3. .author-about
        4. .social
*/
#hero {
    display: table-cell;
    width: 100vw;
    height: 100vh;
    vertical-align: middle;
    text-align: center;
    padding: 1rem 0;
    color: $primary-color;

    & .salutation {
        font-size: 2em;
        margin-bottom: $margin-bottom;
        font-family: 'Oswald', sans-serif;

        &:hover {
            color: inherit;
        }
    }

    & .about-author {
        max-width: 70%;
        margin: auto;           // Refactor 
        margin-bottom: $margin-bottom;

        @media (max-width: 800px) {
            & {
                max-width: 90%;
                text-align: justify;
            }
        }
    }

    & .social {
        color: #fff;
        margin-top: $margin-bottom;

        & .icon-background {
            color: #94949456;
        }

        & a {
            color: inherit;
            text-decoration: none;
            transition: .4s $transition-backward all;
            &:hover {
                color: $primary-color;
            }
        }
    }
}

/*
    Section Blog Posts: 
        1. #blog-posts
        2. .section-title
        3. .pagination
*/
.section-title {
    text-align: center;
    color: $primary-color;

    & .bottom-border {
        margin-left: auto;
        margin-right: auto;
    }
}
#blog-posts {
    width: 60%;
    margin: auto;

    @media (max-width: 800px) {
        & {
            width: 90%;
        }
    }

    & .post {
        padding: .6rem;
        margin-top: 3rem;
        transition: .8s $transition-backward all;
    }

    & .author {
        color: #19244783;
    }

    & .blog-title a {
        text-decoration: none;
        color: $primary-color;
    }

    & .excerpt {
        color: #19244783;
    }
}
.pagination {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 20px auto;
    text-align: center;
    color: #19244783;

    @media (max-width: 800px) {
        & {
            width: 90%;
        }
    }
    & a {
        text-decoration: none;
        color: $primary-color;

        &:hover {
            color: $text-color;
        }
    }
}





/*******   CONTAINS POST PAGE STYLES      *********/
#post {
    min-height: 68vh;
    color: $primary-color;
    
    & .post-title {
        color: $primary-color;
        margin-top: 2rem;
        padding: 1rem .6rem;
        text-align: center;
        font-family: 'Oswald', sans-serif;
    }

    & .meta {
        text-align: center;
        margin: .5rem 0 2rem 0;
        color: #19244783;
    }

    & .bottom-border {
        margin: 10px auto 0 auto;
    }

    & .post-content {
        width: 60%;
        margin: auto;
        margin-top: 4rem;
        color: #192447d0;
        line-height: 30px;

        & h1, & h2, & h3,
        & h4, & h5, & h6 {
            margin-top: 0.67em; 
            margin-bottom: 0.67em; 
            margin-left: 0; 
            margin-right: 0;
            line-height: unset;
            color: #141414;
        }

        @media (max-width: 800px) { & { width: 90%; }}
    }
}



/**         HIDDEN NAV STYLES         **/
// Nav Open
.hidden-nav {
    border-top: 5px solid #800080;
    background: $primary-color;
    color: #fff;
    width: 40%;
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 1000;
    overflow-y: auto;
    transform: translateX(105%);
    transition: .4s cubic-bezier(.23,1,.32,1) all;

    @media (max-width: 800px) {
        & {
            width: 100%;
        }
    }
    
    & a {
        color: #fff;
    }

    & .nav-close {
        position: relative;
        text-align: right;
        margin: 0;
        font-size: 3rem;
        cursor: pointer;
        padding-right: 10px;
        color: #ff0055;
    }

    & .nav-content {
        padding: 2rem;
        font-size: .7em;

        & .header {
            letter-spacing: 2px;
            text-transform: uppercase;
        }

        & .header:not(:first-child) {
            margin-top: 4rem;
        }

        & .bottom-border {
            margin: 6px auto 16px 0;
            height: 1px;
        }
    }
}

// Reveal Hidden Nav
.show-nav {
    transform: translateX(0);
}

// This will cover all body content once the nav is open 
#nav-bottom-screen {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #ffffffcb;
    z-index: 500;
    cursor: crosshair;
}

// PAGE STYLE //
.page-content {
    @extend .post-content;    
}


// *******  CATEGORY POSTS  ******** //
#category-posts {
    @extend #blog-posts;
    width: 100%;

    & h3 {
        margin-top: unset!important;
    }
}
.category-post-count {
    margin-right: .2rem;
    color: #ff0055;
}



// FOOTER //

footer {
    margin: auto;
    margin-top: 5rem;
    padding: 2rem;
    text-align: center;
    color: #858585;
    background: #dddddd;
}

/********   SOCIAL SHARE     *********/
#share {
    width: 90%;
    border-top: 1px solid #ff0055;
    padding-top: 2rem;
    margin: 3rem auto 2rem auto;
    & a {
        color: #ff0055;
    }
}

// ******     COMMENT FORM      ********  //
#comment-form {
    width: 90%;
    margin: auto;

    & form {
        width: 100%;

        & input, & textarea {
            width: 100%;
            box-sizing: border-box;
            resize: none;
            padding: .5rem;
            margin: .2rem 0;
            border: 0;
            border: 2px solid lightgray;
            font-family: inherit; 
            font-size: inherit;

            &[type="submit"] {
                background: lightgray;
                color: #2b2b2b;
                width: auto;
                padding: 1rem;
                border: 1px solid transparent;
                border-radius: 3px;
                cursor: pointer;
                transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) all;
                
                &:hover { 
                    background: #ff0055; 
                    color: #fff; 
                }

                @media (max-width: 800px) {
                    & {
                        width: 100%;
                    }
                }
            }
        }

        & .commentText {
            max-width: 100%; 
            min-width: 100%;
            width:auto; 
        }
    }
}