// Colors
$primary-color: #1d2951;
$text-color: #c71585;
// $primary-color-opacity-half: #19244783;
// $primary-color-opacity-3: #192447d0;
$text-color-opacity-half: #c7158583;
$link-color: #1ecf85;

// Transitions 
$transition-backward: cubic-bezier(.68,-0.55,.27,1.55);

// Other
$margin-bottom: 2rem;