---
title: Blog- Abdus Samad Azad
layout: default
excerpt: 'Blog - Abdus Samad Azad. This is the place where he loves to keep everything he writes. You can find some on Medium as well.'
---

<div class="main">
    <section>
        <h3 class="section-header"></h3>
        <div class="blog-posts">
          {% for post in site.posts %}
            <div class="post">
              <div class="blog-title">
                {% if post.link_post %}
                  <a href="{{ post.link_post }}">{{ post.title }}</a>
                  <span>Medium&neArr; &middot; {{ post.date | date: "%b %d, %y" }}</span>
                {% else %}
                  <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
                  <span>{{ post.date | date: "%b %d, %y" }}</span>
                {% endif %}
              </div>
              <div class="bottom-border-full"></div>
            </div>
          {% endfor %}
        </div>
    </section>
</div>